<%#app/views/results/_filters.html.erb%>
<%#This is the partial that contains the search filters for the application.%>

<%#The form has the "GET" method so the URL shows the search the user performed.%>
<div class="container">
	<div class="row" id="filter-search">
		<%= form_tag({controller: "results", action: "search"}, method: "get") do %>
		  <div class="col-md-4">
		  	<%= text_field_tag(:job, nil, placeholder: "Tipo de empleo", class: "form-control") %>
		  </div>
		  <div class="col-md-4">
		    <%= select_tag :institution, options_for_select(@institutions.collect{ |i| [i.name.mb_chars.capitalize, i.id] }), { :include_blank=> "Todas las Instituciones", :class => "form-control" } %>
		  </div>
		  <div class="col-md-3">
		    <%= select_tag :salary, options_for_select([["Menor a $5,000", 1], ["Entre $5,000 y $10,000", 2], ["Entre $10,000 y $20,000", 3], ["Mayor a $20,000", 4]]), { :include_blank=> "Cualquier Salario", :class => "form-control" } %>
		  </div>
		  <div class="col-md-1">
		  	<%= submit_tag("Buscar", class: "btn btn-default") %>
		  </div>
	  <% end %>
	</div>
</div>