<%#app/views/results/index.html.erb%>
<%#This is the root of the application, it displays all of the available jobs%>

<%#Here we display the main KPIs which include: total number of jobs, institution with more jobs and highest salary of an open job.%>
<div class="container">
	<div class="kpis">
		<h3> Total de empleos abiertos: <b><%=@total%></b></h3>
		<h3> Institución con mas empleos abiertos: <b><%=@max_institution.mb_chars.capitalize%></b></h3>
		<h3> Mejor salario de un empleo abierto: <b><%=number_to_currency(@max_salary, :unit => "$")%></b></h3>
	</div>
</div>

<%#We render the partial called filters which is in app/views/results/_filters.html.erb%>
<%= render 'filters' %>

<%#We render the partial called results which is in app/views/results/_results.html.erb%>
<%= render 'results' %>

