

<div class="banner">
	<div class="banner-text">
		<h1> Empleo Abierto </h1>
		<h2> Empleo Abierto es una plataforma </h2>
		<h2> que te permite encontrar trabajo en instituciones de gobierno </h2>
		<h2>de manera facil y rapida </h2>
	</div>
</div>

<div class="container">
	<div class="row" id="filter-search">
		<%= form_tag({controller: "results", action: "search"}, method: "get") do %>
		  <div class="col-md-4">
		  	<%= text_field_tag(:job, nil, placeholder: "Tipo de empleo", class: "form-control") %>
		  </div>
		  <div class="col-md-4">
		    <%= select_tag :institution, options_for_select(@institutions.collect{ |i| [i.name, i.id] }), { :include_blank=> "Institucion", :class => "form-control" } %>
		  </div>
		  <div class="col-md-3">
		    <%= select_tag :salary, options_for_select([["Menor a $5,000", 1], ["Entre $5,000 y $10,000", 2], ["Entre 10,000 y 20,000", 3], ["Mayor a $20,000", 4]]), { :include_blank=> "Salario", :class => "form-control" } %>
		  </div>
		  <div class="col-md-1">
		  	<%= submit_tag("Buscar", class: "btn btn-default") %>
		  </div>
	  <% end %>
	</div>
</div>

<div class="container">
	<div class="results">
		<h1> Se encontraron <%=@total%> resultados.</h1>
	</div>
</div>

<div class="container">
	<table class="table table-bordered table-striped">
		<tr>
			<th width: auto>Puesto</th>
			<th width: auto>Institucion</th>
			<th width: auto>Salario</th>
			<th width: auto>Telefono</th>
		</tr>
		<% @jobs.each do |job| %>
			<tr>
				<td><%= job.name %></td>
				<td><%= job.institution.name%></td>
				<td><%= number_to_currency(job.salary, :unit => "$")%></td> 
				<td><%= job.institution.telephone %></td>
			</tr>
		<% end %>
	</table>
</div>



<div class="text-center">
    <%= paginate @jobs, :window => 2 %>
</div>

